{% extends "layout.html" %}
{% block content %}
{% for spost in posts %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ spost.author }}</a>
            <small class="text-muted">{{ spost.date_posted }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ spost.title }}</a></h2>
        <p class="article-content">{{ spost.content }}</p>
    </div>
</article>
{% endfor %}
{% endblock content %}